table {
        border:1px solid #000;
        width:80%;
        border-collapse:collapse;
        margin:auto;
        background-color:#fff;
    }
      
    tr {
        vertical-align: top;
    }
      
    td,th {
        border:1px dotted #000;
        padding:.5em;
    }
    
    table.client {
        margin: 40px auto; /* T R B L */
        background-color: #968AEC;
        color: #000;
    }
    
    table.client th {
        text-align:left;
        width:30%;
    }

    table.audience {
        margin: 40px auto; /* T R B L */
    }
      
    table.audience th {
        width:33.3%;
    }

    table.audience tr:nth-child(even) 
    {
        background-color: #968AEC;
    }
    table.audience tr:nth-child(odd) 
    {
        background-color: #B6B4C4;
    }

/* Start alternating backgroud color rows for elements table */

   table.elements tr:nth-child(even) 
    {
        background-color: #968AEC;
    }
    table.elements thead tr{
        background-color:#000;
        color: #B6B4C4;
    }

/* End alternating backgroud color rows for elements table */