/* Eric's Portal Page Stylesheet */

/* Start GLOBAL RULES */
html {
    background-color: #aabed0;
    font-family: Montserrat, sans-serif;
    background-image: url(../images/tempbackdrop.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


div.wrapper {
 margin: auto;/* if this is smaller than its parent HTML, then center it within the parent*/
 overflow: auto;/*be aware of any floated objects and expand to include them */
 display: inline-block;
 
}

section.leftcol{
    float: left;
    width: 60%;
}

aside{
    color: #026c85;

}

p {
    color: #026c85;
}

.pageID{
    color: #026c85;
}

a {
    color:#026c85;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:#026c85;
    text-decoration: underline;
}

h1>a {
    color:#026c85;
}

h1>a:hover {
    text-decoration: none;
}

img.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 15%;
}

h1, h2, h3 {
    text-align: center;
}

/*Start embedresponsively.com rules*/
.embed-container {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

/* End embedresponsively rules */
footer{
    text-align: center;
    clear: both;
}

/* End GLOBAL RULES */


/* Start RESPONSIVE RULES */

/* DESKTOP */
@media all and (min-width:1400px) {
    
   div.wrapper {
        width:100%;
        margin:auto;
    }

    section.leftcol {
        width:65%;
        float:left;
    }
    
     aside {    
        width:34%;
        float:right;
    }
             
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
                background-color: #ccc;
                color:#000;
     }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
    
    section.leftcol {
        width:60%;
        float:left;
    }
    
    aside { 
        width:39%;
        float:right;
    }

    
    /* Change background color of navigation on selected page */
           ul.topnav li a.selected {
                background-color: #ccc;
                color:#000;
          }
  }


/* PHONE */
@media all and (max-width:736px) {
        section.leftcol {
        float:left;
        width: 100%;
    }
    
    aside { 
        float:left;
        width: 100%;
    }


}